<div id="movilidad_personalizada_section" class="conditional-section">
    <div class="form-group">
        <label for="plantillas">Plantillas predefinidas:</label>
        <div class="form-row">
            <div class="form-group" style="flex: 2">
                <select id="plantillas" class="form-control">
                    <option value="">Seleccione una plantilla</option>
                    <option value="caliva">Fallo Fer Pastor y Caliva Marquez</option>
                </select>
            </div>
            <div class="form-group">
                <button type="button" id="aplicar-plantilla" class="submit-button" 
                        style="padding: 10px; margin-top: 0">
                    Aplicar Plantilla
                </button>
            </div>
        </div>
    </div>
    <div class="form-row movilidad-group" data-group="1">
        <div class="form-group">
            <label>Movilidad:</label>
            <div class="custom-select-container">
                <div class="custom-select-input" onclick="toggleDropdown('movilidad_1')">
                    <span class="selected-value">Seleccionar movilidad</span>
                    <span class="select-arrow">▼</span>
                </div>
                <div class="custom-select-dropdown" id="dropdown_movilidad_1">
                    <input type="text" 
                           class="search-box" 
                           placeholder="Buscar..."
                           onkeyup="filterOptions('movilidad_1', this.value)">
                    <div class="custom-options" id="options_movilidad_1">
                        <option value="Sin_Movilidad">Selecciona la movilidad</option>
                        <option value="Aumentos_Anses">Aumentos Generales de la ANSeS por movilidad</option>
                        <option value="Salarios_Nivel_General_INDEC">Salarios Nivel General INDEC</option>
                        <option value="Aumento_de_Marzo_2018_Ley_26417_14">Aumento de Marzo 2018 Ley 26417 14%</option>
                        <option value="Aumentos_fallo_Marquez_Raimundo_por_Ley_27551">Aumentos fallo Marquez, Raimundo por Ley 27551</option>
                        <option value="Aumentos_fallo_Alanis_Daniel_Ley_27551_35_55_2020">Aumentos fallo Alanis, Daniel Ley 27551 35,55% para el año 2020</option>
                        <option value="RIPTE_Remuneracion_Imponible_Promedio_Trabajadores_Estables">RIPTE (Remuneración Imponible Promedio de Trabajadores Estables)</option>
                        <option value="RIPTE_Trimestral_Retrasado_3_Meses">RIPTE trimestral retrasado 3 meses</option>
                        <option value="RIPTE_Retrasado_2_Meses">RIPTE retrasado 2 meses</option>
                        <option value="IPC_Retrasado_2_Meses">IPC retrasado 2 meses</option>
                        <option value="IPC_Retrasado_3_Meses">IPC retrasado 3 meses</option>
                        <option value="Ley_27551_50_IPC_50_RIPTE_Trimestral_Retrasado_3_Meses">Ley 27551 (50 % IPC y 50% RIPTE Trimestral retrasado 3 meses)</option>
                        <option value="Sin_Movilidad">Sin Movilidad</option>
                        <option value="Aumentos_Poder_Judicial_de_la_Nacion">Aumentos Poder Judicial de la Nacion</option>
                        <option value="IPC_Precios_Consumidor">Precios al Consumidor o Costo de Vida (I.P.C.)</option>
                        <option value="Salarios_Nivel_General_INDEC_Anual">Salarios Nivel General INDEC Anual</option>
                        <option value="Ley_27426_IPC_RIPTE_Trimestral_Diferido_3M">Ley 27426 - IPC y Ripte Trimestral Diferido 3 meses</option>
                        <option value="Aumentos_fallo_Martinez">Aumentos Fallo Martinez para el año 2020 </option>
                    </div>
                </div>
                <select name="movilidad_1" id="movilidad_1" hidden>
                    <option value="Sin_Movilidad">Selecciona la movilidad</option>
                    <option value="Aumentos_Anses">Aumentos Generales de la ANSeS por movilidad</option>
                    <option value="Salarios_Nivel_General_INDEC">Salarios Nivel General INDEC</option>
                    <option value="Aumento_de_Marzo_2018_Ley_26417_14">Aumento de Marzo 2018 Ley 26417 14%</option>
                    <option value="Aumentos_fallo_Marquez_Raimundo_por_Ley_27551">Aumentos fallo Marquez, Raimundo por Ley 27551</option>
                    <option value="Aumentos_fallo_Alanis_Daniel_Ley_27551_35_55_2020">Aumentos fallo Alanis, Daniel Ley 27551 35,55% para el año 2020</option>
                    <option value="RIPTE_Remuneracion_Imponible_Promedio_Trabajadores_Estables">RIPTE (Remuneración Imponible Promedio de Trabajadores Estables)</option>
                    <option value="RIPTE_Trimestral_Retrasado_3_Meses">RIPTE trimestral retrasado 3 meses</option>
                    <option value="RIPTE_Retrasado_2_Meses">RIPTE retrasado 2 meses</option>
                    <option value="IPC_Retrasado_2_Meses">IPC retrasado 2 meses</option>
                    <option value="IPC_Retrasado_3_Meses">IPC retrasado 3 meses</option>
                    <option value="Ley_27551_50_IPC_50_RIPTE_Trimestral_Retrasado_3_Meses">Ley 27551 (50 % IPC y 50% RIPTE Trimestral retrasado 3 meses)</option>
                    <option value="Sin_Movilidad">Sin Movilidad</option>
                    <option value="Aumentos_Poder_Judicial_de_la_Nacion">Aumentos Poder Judicial de la Nacion</option>
                    <option value="IPC_Precios_Consumidor">Precios al Consumidor o Costo de Vida (I.P.C.)</option>
                    <option value="Salarios_Nivel_General_INDEC_Anual">Salarios Nivel General INDEC Anual</option>
                    <option value="Ley_27426_IPC_RIPTE_Trimestral_Diferido_3M">Ley 27426 - IPC y Ripte Trimestral Diferido 3 meses</option>
                    <option value="Aumentos_fallo_Martinez">Aumentos Fallo Martinez para el año 2020 </option>

                </select>
            </div>
        </div>
        <div class="form-group date-group">
            <label for="primer_fecha_fin">al:</label>
            <input type="date" id="primer_fecha_fin" name="primer_fecha_fin">
        </div>
    </div>

    <div class="form-row movilidad-group" data-group="2">
        <div class="form-group">
            <label>Movilidad:</label>
            <div class="custom-select-container">
                <div class="custom-select-input" onclick="toggleDropdown('movilidad_2')">
                    <span class="selected-value">Seleccionar movilidad</span>
                    <span class="select-arrow">▼</span>
                </div>
                <div class="custom-select-dropdown" id="dropdown_movilidad_2">
                    <input type="text" 
                           class="search-box" 
                           placeholder="Buscar..."
                           onkeyup="filterOptions('movilidad_2', this.value)">
                    <div class="custom-options" id="options_movilidad_2">
                        <option value="">Selecciona la movilidad</option>
                        <option value="Aumentos_Anses">Aumentos Generales de la ANSeS por movilidad</option>
                        <option value="Salarios_Nivel_General_INDEC">Salarios Nivel General INDEC</option>
                        <option value="Aumento_de_Marzo_2018_Ley_26417_14">Aumento de Marzo 2018 Ley 26417 14%</option>
                        <option value="Aumentos_fallo_Marquez_Raimundo_por_Ley_27551">Aumentos fallo Marquez, Raimundo por Ley 27551</option>
                        <option value="Aumentos_fallo_Alanis_Daniel_Ley_27551_35_55_2020">Aumentos fallo Alanis, Daniel Ley 27551 35,55% para el año 2020</option>
                        <option value="RIPTE_Remuneracion_Imponible_Promedio_Trabajadores_Estables">RIPTE (Remuneración Imponible Promedio de Trabajadores Estables)</option>
                        <option value="RIPTE_Trimestral_Retrasado_3_Meses">RIPTE trimestral retrasado 3 meses</option>
                        <option value="RIPTE_Retrasado_2_Meses">RIPTE retrasado 2 meses</option>
                        <option value="IPC_Retrasado_2_Meses">IPC retrasado 2 meses</option>
                        <option value="IPC_Retrasado_3_Meses">IPC retrasado 3 meses</option>
                        <option value="Ley_27551_50_IPC_50_RIPTE_Trimestral_Retrasado_3_Meses">Ley 27551 (50 % IPC y 50% RIPTE Trimestral retrasado 3 meses)</option>
                        <option value="Sin_Movilidad">Sin Movilidad</option>
                        <option value="Aumentos_Poder_Judicial_de_la_Nacion">Aumentos Poder Judicial de la Nacion</option>
                        <option value="IPC_Precios_Consumidor">Precios al Consumidor o Costo de Vida (I.P.C.)</option>
                        <option value="Salarios_Nivel_General_INDEC_Anual">Salarios Nivel General INDEC Anual</option>
                        <option value="Ley_27426_IPC_RIPTE_Trimestral_Diferido_3M">Ley 27426 - IPC y Ripte Trimestral Diferido 3 meses</option>
                        <option value="Aumentos_fallo_Martinez">Aumentos Fallo Martinez para el año 2020 </option>

                    </div>
                </div>
                <select name="movilidad_2" id="movilidad_2" hidden>
                    <option value="">Selecciona la movilidad</option>
                    <option value="Aumentos_Anses">Aumentos Generales de la ANSeS por movilidad</option>
                    <option value="Salarios_Nivel_General_INDEC">Salarios Nivel General INDEC</option>
                    <option value="Aumento_de_Marzo_2018_Ley_26417_14">Aumento de Marzo 2018 Ley 26417 14%</option>
                    <option value="Aumentos_fallo_Marquez_Raimundo_por_Ley_27551">Aumentos fallo Marquez, Raimundo por Ley 27551</option>
                    <option value="Aumentos_fallo_Alanis_Daniel_Ley_27551_35_55_2020">Aumentos fallo Alanis, Daniel Ley 27551 35,55% para el año 2020</option>
                    <option value="RIPTE_Remuneracion_Imponible_Promedio_Trabajadores_Estables">RIPTE (Remuneración Imponible Promedio de Trabajadores Estables)</option>
                    <option value="RIPTE_Trimestral_Retrasado_3_Meses">RIPTE trimestral retrasado 3 meses</option>
                    <option value="RIPTE_Retrasado_2_Meses">RIPTE retrasado 2 meses</option>
                    <option value="IPC_Retrasado_2_Meses">IPC retrasado 2 meses</option>
                    <option value="IPC_Retrasado_3_Meses">IPC retrasado 3 meses</option>
                    <option value="Ley_27551_50_IPC_50_RIPTE_Trimestral_Retrasado_3_Meses">Ley 27551 (50 % IPC y 50% RIPTE Trimestral retrasado 3 meses)</option>
                    <option value="Sin_Movilidad">Sin Movilidad</option>
                    <option value="Aumentos_Poder_Judicial_de_la_Nacion">Aumentos Poder Judicial de la Nacion</option>
                    <option value="IPC_Precios_Consumidor">Precios al Consumidor o Costo de Vida (I.P.C.)</option>
                    <option value="Salarios_Nivel_General_INDEC_Anual">Salarios Nivel General INDEC Anual</option>
                    <option value="Ley_27426_IPC_RIPTE_Trimestral_Diferido_3M">Ley 27426 - IPC y Ripte Trimestral Diferido 3 meses</option>
                    <option value="Aumentos_fallo_Martinez">Aumentos Fallo Martinez para el año 2020 </option>

                </select>
            </div>
        </div>
        <div class="form-group date-group">
            <label for="segunda_fecha_fin">al:</label>
            <input type="date" id="segunda_fecha_fin" name="segunda_fecha_fin">
        </div>
    </div>



    <div class="form-row movilidad-group" data-group="3">
        <div class="form-group">
            <label>Movilidad:</label>
            <div class="custom-select-container">
                <div class="custom-select-input" onclick="toggleDropdown('movilidad_3')">
                    <span class="selected-value">Seleccionar movilidad</span>
                    <span class="select-arrow">▼</span>
                </div>
                <div class="custom-select-dropdown" id="dropdown_movilidad_3">
                    <input type="text" 
                           class="search-box" 
                           placeholder="Buscar..."
                           onkeyup="filterOptions('movilidad_3', this.value)">
                    <div class="custom-options" id="options_movilidad_3">
                        <option value="">Selecciona la movilidad</option>
                        <option value="Aumentos_Anses">Aumentos Generales de la ANSeS por movilidad</option>
                        <option value="Salarios_Nivel_General_INDEC">Salarios Nivel General INDEC</option>
                        <option value="Aumento_de_Marzo_2018_Ley_26417_14">Aumento de Marzo 2018 Ley 26417 14%</option>
                        <option value="Aumentos_fallo_Marquez_Raimundo_por_Ley_27551">Aumentos fallo Marquez, Raimundo por Ley 27551</option>
                        <option value="Aumentos_fallo_Alanis_Daniel_Ley_27551_35_55_2020">Aumentos fallo Alanis, Daniel Ley 27551 35,55% para el año 2020</option>
                        <option value="RIPTE_Remuneracion_Imponible_Promedio_Trabajadores_Estables">RIPTE (Remuneración Imponible Promedio de Trabajadores Estables)</option>
                        <option value="RIPTE_Trimestral_Retrasado_3_Meses">RIPTE trimestral retrasado 3 meses</option>
                        <option value="RIPTE_Retrasado_2_Meses">RIPTE retrasado 2 meses</option>
                        <option value="IPC_Retrasado_2_Meses">IPC retrasado 2 meses</option>
                        <option value="IPC_Retrasado_3_Meses">IPC retrasado 3 meses</option>
                        <option value="Ley_27551_50_IPC_50_RIPTE_Trimestral_Retrasado_3_Meses">Ley 27551 (50 % IPC y 50% RIPTE Trimestral retrasado 3 meses)</option>
                        <option value="Sin_Movilidad">Sin Movilidad</option>
                        <option value="Aumentos_Poder_Judicial_de_la_Nacion">Aumentos Poder Judicial de la Nacion</option>
                        <option value="IPC_Precios_Consumidor">Precios al Consumidor o Costo de Vida (I.P.C.)</option>
                        <option value="Salarios_Nivel_General_INDEC_Anual">Salarios Nivel General INDEC Anual</option>
                        <option value="Ley_27426_IPC_RIPTE_Trimestral_Diferido_3M">Ley 27426 - IPC y Ripte Trimestral Diferido 3 meses</option>
                        <option value="Aumentos_fallo_Martinez">Aumentos Fallo Martinez para el año 2020 </option>

                    </div>
                </div>
                <select name="movilidad_3" id="movilidad_3" hidden>
                    <option value="">Selecciona la movilidad</option>
                    <option value="Aumentos_Anses">Aumentos Generales de la ANSeS por movilidad</option>
                    <option value="Salarios_Nivel_General_INDEC">Salarios Nivel General INDEC</option>
                    <option value="Aumento_de_Marzo_2018_Ley_26417_14">Aumento de Marzo 2018 Ley 26417 14%</option>
                    <option value="Aumentos_fallo_Marquez_Raimundo_por_Ley_27551">Aumentos fallo Marquez, Raimundo por Ley 27551</option>
                    <option value="Aumentos_fallo_Alanis_Daniel_Ley_27551_35_55_2020">Aumentos fallo Alanis, Daniel Ley 27551 35,55% para el año 2020</option>
                    <option value="RIPTE_Remuneracion_Imponible_Promedio_Trabajadores_Estables">RIPTE (Remuneración Imponible Promedio de Trabajadores Estables)</option>
                    <option value="RIPTE_Trimestral_Retrasado_3_Meses">RIPTE trimestral retrasado 3 meses</option>
                    <option value="RIPTE_Retrasado_2_Meses">RIPTE retrasado 2 meses</option>
                    <option value="IPC_Retrasado_2_Meses">IPC retrasado 2 meses</option>
                    <option value="IPC_Retrasado_3_Meses">IPC retrasado 3 meses</option>
                    <option value="Ley_27551_50_IPC_50_RIPTE_Trimestral_Retrasado_3_Meses">Ley 27551 (50 % IPC y 50% RIPTE Trimestral retrasado 3 meses)</option>
                    <option value="Sin_Movilidad">Sin Movilidad</option>
                    <option value="Aumentos_Poder_Judicial_de_la_Nacion">Aumentos Poder Judicial de la Nacion</option>
                    <option value="IPC_Precios_Consumidor">Precios al Consumidor o Costo de Vida (I.P.C.)</option>
                    <option value="Salarios_Nivel_General_INDEC_Anual">Salarios Nivel General INDEC Anual</option>
                    <option value="Ley_27426_IPC_RIPTE_Trimestral_Diferido_3M">Ley 27426 - IPC y Ripte Trimestral Diferido 3 meses</option>
                    <option value="Aumentos_fallo_Martinez">Aumentos Fallo Martinez para el año 2020 </option>
                </select>
            </div>
        </div>
        <div class="form-group date-group">
            <label for="tercer_fecha_fin">al:</label>
            <input type="date" id="tercer_fecha_fin" name="tercer_fecha_fin">
        </div>
    </div>

    <div class="form-row movilidad-group" data-group="4">
        <div class="form-group">
            <label>Movilidad:</label>
            <div class="custom-select-container">
                <div class="custom-select-input" onclick="toggleDropdown('movilidad_4')">
                    <span class="selected-value">Seleccionar movilidad</span>
                    <span class="select-arrow">▼</span>
                </div>
                <div class="custom-select-dropdown" id="dropdown_movilidad_4">
                    <input type="text" 
                           class="search-box" 
                           placeholder="Buscar..."
                           onkeyup="filterOptions('movilidad_4', this.value)">
                    <div class="custom-options" id="options_movilidad_4">
                        <option value="">Selecciona la movilidad</option>
                        <option value="Aumentos_Anses">Aumentos Generales de la ANSeS por movilidad</option>
                        <option value="Salarios_Nivel_General_INDEC">Salarios Nivel General INDEC</option>
                        <option value="Aumento_de_Marzo_2018_Ley_26417_14">Aumento de Marzo 2018 Ley 26417 14%</option>
                        <option value="Aumentos_fallo_Marquez_Raimundo_por_Ley_27551">Aumentos fallo Marquez, Raimundo por Ley 27551</option>
                        <option value="Aumentos_fallo_Alanis_Daniel_Ley_27551_35_55_2020">Aumentos fallo Alanis, Daniel Ley 27551 35,55% para el año 2020</option>
                        <option value="RIPTE_Remuneracion_Imponible_Promedio_Trabajadores_Estables">RIPTE (Remuneración Imponible Promedio de Trabajadores Estables)</option>
                        <option value="RIPTE_Trimestral_Retrasado_3_Meses">RIPTE trimestral retrasado 3 meses</option>
                        <option value="RIPTE_Retrasado_2_Meses">RIPTE retrasado 2 meses</option>
                        <option value="IPC_Retrasado_2_Meses">IPC retrasado 2 meses</option>
                        <option value="IPC_Retrasado_3_Meses">IPC retrasado 3 meses</option>
                        <option value="Ley_27551_50_IPC_50_RIPTE_Trimestral_Retrasado_3_Meses">Ley 27551 (50 % IPC y 50% RIPTE Trimestral retrasado 3 meses)</option>
                        <option value="Sin_Movilidad">Sin Movilidad</option>
                        <option value="Aumentos_Poder_Judicial_de_la_Nacion">Aumentos Poder Judicial de la Nacion</option>
                        <option value="IPC_Precios_Consumidor">Precios al Consumidor o Costo de Vida (I.P.C.)</option>
                        <option value="Salarios_Nivel_General_INDEC_Anual">Salarios Nivel General INDEC Anual</option>
                        <option value="Ley_27426_IPC_RIPTE_Trimestral_Diferido_3M">Ley 27426 - IPC y Ripte Trimestral Diferido 3 meses</option>
                        <option value="Aumentos_fallo_Martinez">Aumentos Fallo Martinez para el año 2020 </option>
                    </div>
                </div>
                <select name="movilidad_4" id="movilidad_4" hidden>
                    <option value="">Selecciona la movilidad</option>
                    <option value="Aumentos_Anses">Aumentos Generales de la ANSeS por movilidad</option>
                    <option value="Salarios_Nivel_General_INDEC">Salarios Nivel General INDEC</option>
                    <option value="Aumento_de_Marzo_2018_Ley_26417_14">Aumento de Marzo 2018 Ley 26417 14%</option>
                    <option value="Aumentos_fallo_Marquez_Raimundo_por_Ley_27551">Aumentos fallo Marquez, Raimundo por Ley 27551</option>
                    <option value="Aumentos_fallo_Alanis_Daniel_Ley_27551_35_55_2020">Aumentos fallo Alanis, Daniel Ley 27551 35,55% para el año 2020</option>
                    <option value="RIPTE_Remuneracion_Imponible_Promedio_Trabajadores_Estables">RIPTE (Remuneración Imponible Promedio de Trabajadores Estables)</option>
                    <option value="RIPTE_Trimestral_Retrasado_3_Meses">RIPTE trimestral retrasado 3 meses</option>
                    <option value="RIPTE_Retrasado_2_Meses">RIPTE retrasado 2 meses</option>
                    <option value="IPC_Retrasado_2_Meses">IPC retrasado 2 meses</option>
                    <option value="IPC_Retrasado_3_Meses">IPC retrasado 3 meses</option>
                    <option value="Ley_27551_50_IPC_50_RIPTE_Trimestral_Retrasado_3_Meses">Ley 27551 (50 % IPC y 50% RIPTE Trimestral retrasado 3 meses)</option>
                    <option value="Sin_Movilidad">Sin Movilidad</option>
                    <option value="Aumentos_Poder_Judicial_de_la_Nacion">Aumentos Poder Judicial de la Nacion</option>
                    <option value="IPC_Precios_Consumidor">Precios al Consumidor o Costo de Vida (I.P.C.)</option>
                    <option value="Salarios_Nivel_General_INDEC_Anual">Salarios Nivel General INDEC Anual</option>
                    <option value="Ley_27426_IPC_RIPTE_Trimestral_Diferido_3M">Ley 27426 - IPC y Ripte Trimestral Diferido 3 meses</option>
                    <option value="Aumentos_fallo_Martinez">Aumentos Fallo Martinez para el año 2020 </option>
                </select>
            </div>
        </div>
        <div class="form-group date-group">
            <label for="primer_fecha_fin">al:</label>
            <input type="date" id="cuarta_fecha_fin" name="cuarta_fecha_fin">
        </div>
    </div>

    <div class="form-row movilidad-group" data-group="5">
        <div class="form-group">
            <label>Movilidad:</label>
            <div class="custom-select-container">
                <div class="custom-select-input" onclick="toggleDropdown('movilidad_5')">
                    <span class="selected-value">Seleccionar movilidad</span>
                    <span class="select-arrow">▼</span>
                </div>
                <div class="custom-select-dropdown" id="dropdown_movilidad_5">
                    <input type="text" 
                           class="search-box" 
                           placeholder="Buscar..."
                           onkeyup="filterOptions('movilidad_5', this.value)">
                    <div class="custom-options" id="options_movilidad_5">
                        <option value="">Selecciona la movilidad</option>
                        <option value="Aumentos_Anses">Aumentos Generales de la ANSeS por movilidad</option>
                        <option value="Salarios_Nivel_General_INDEC">Salarios Nivel General INDEC</option>
                        <option value="Aumento_de_Marzo_2018_Ley_26417_14">Aumento de Marzo 2018 Ley 26417 14%</option>
                        <option value="Aumentos_fallo_Marquez_Raimundo_por_Ley_27551">Aumentos fallo Marquez, Raimundo por Ley 27551</option>
                        <option value="Aumentos_fallo_Alanis_Daniel_Ley_27551_35_55_2020">Aumentos fallo Alanis, Daniel Ley 27551 35,55% para el año 2020</option>
                        <option value="RIPTE_Remuneracion_Imponible_Promedio_Trabajadores_Estables">RIPTE (Remuneración Imponible Promedio de Trabajadores Estables)</option>
                        <option value="RIPTE_Trimestral_Retrasado_3_Meses">RIPTE trimestral retrasado 3 meses</option>
                        <option value="RIPTE_Retrasado_2_Meses">RIPTE retrasado 2 meses</option>
                        <option value="IPC_Retrasado_2_Meses">IPC retrasado 2 meses</option>
                        <option value="IPC_Retrasado_3_Meses">IPC retrasado 3 meses</option>
                        <option value="Ley_27551_50_IPC_50_RIPTE_Trimestral_Retrasado_3_Meses">Ley 27551 (50 % IPC y 50% RIPTE Trimestral retrasado 3 meses)</option>
                        <option value="Sin_Movilidad">Sin Movilidad</option>
                        <option value="Aumentos_Poder_Judicial_de_la_Nacion">Aumentos Poder Judicial de la Nacion</option>
                        <option value="IPC_Precios_Consumidor">Precios al Consumidor o Costo de Vida (I.P.C.)</option>
                        <option value="Salarios_Nivel_General_INDEC_Anual">Salarios Nivel General INDEC Anual</option>
                        <option value="Ley_27426_IPC_RIPTE_Trimestral_Diferido_3M">Ley 27426 - IPC y Ripte Trimestral Diferido 3 meses</option>
                        <option value="Aumentos_fallo_Martinez">Aumentos Fallo Martinez para el año 2020 </option>
                    </div>
                </div>
                <select name="movilidad_5" id="movilidad_5" hidden>
                    <option value="">Selecciona la movilidad</option>
                    <option value="Aumentos_Anses">Aumentos Generales de la ANSeS por movilidad</option>
                    <option value="Salarios_Nivel_General_INDEC">Salarios Nivel General INDEC</option>
                    <option value="Aumento_de_Marzo_2018_Ley_26417_14">Aumento de Marzo 2018 Ley 26417 14%</option>
                    <option value="Aumentos_fallo_Marquez_Raimundo_por_Ley_27551">Aumentos fallo Marquez, Raimundo por Ley 27551</option>
                    <option value="Aumentos_fallo_Alanis_Daniel_Ley_27551_35_55_2020">Aumentos fallo Alanis, Daniel Ley 27551 35,55% para el año 2020</option>
                    <option value="RIPTE_Remuneracion_Imponible_Promedio_Trabajadores_Estables">RIPTE (Remuneración Imponible Promedio de Trabajadores Estables)</option>
                    <option value="RIPTE_Trimestral_Retrasado_3_Meses">RIPTE trimestral retrasado 3 meses</option>
                    <option value="RIPTE_Retrasado_2_Meses">RIPTE retrasado 2 meses</option>
                    <option value="IPC_Retrasado_2_Meses">IPC retrasado 2 meses</option>
                    <option value="IPC_Retrasado_3_Meses">IPC retrasado 3 meses</option>
                    <option value="Ley_27551_50_IPC_50_RIPTE_Trimestral_Retrasado_3_Meses">Ley 27551 (50 % IPC y 50% RIPTE Trimestral retrasado 3 meses)</option>
                    <option value="Sin_Movilidad">Sin Movilidad</option>
                    <option value="Aumentos_Poder_Judicial_de_la_Nacion">Aumentos Poder Judicial de la Nacion</option>
                    <option value="IPC_Precios_Consumidor">Precios al Consumidor o Costo de Vida (I.P.C.)</option>
                    <option value="Salarios_Nivel_General_INDEC_Anual">Salarios Nivel General INDEC Anual</option>
                    <option value="Ley_27426_IPC_RIPTE_Trimestral_Diferido_3M">Ley 27426 - IPC y Ripte Trimestral Diferido 3 meses</option>
                    <option value="Aumentos_fallo_Martinez">Aumentos Fallo Martinez para el año 2020 </option>
                </select>
            </div>
        </div>
        <div class="form-group date-group">
            <label for="quinta_fecha_fin">al:</label>
            <input type="date" id="quinta_fecha_fin" name="quinta_fecha_fin">
        </div>
    </div>

    <div class="form-row movilidad-group" data-group="6">
        <div class="form-group">
            <label>Movilidad:</label>
            <div class="custom-select-container">
                <div class="custom-select-input" onclick="toggleDropdown('movilidad_6')">
                    <span class="selected-value">Seleccionar movilidad</span>
                    <span class="select-arrow">▼</span>
                </div>
                <div class="custom-select-dropdown" id="dropdown_movilidad_6">
                    <input type="text" 
                           class="search-box" 
                           placeholder="Buscar..."
                           onkeyup="filterOptions('movilidad_6', this.value)">
                    <div class="custom-options" id="options_movilidad_6">
                        <option value="">Selecciona la movilidad</option>
                        <option value="Aumentos_Anses">Aumentos Generales de la ANSeS por movilidad</option>
                        <option value="Salarios_Nivel_General_INDEC">Salarios Nivel General INDEC</option>
                        <option value="Aumento_de_Marzo_2018_Ley_26417_14">Aumento de Marzo 2018 Ley 26417 14%</option>
                        <option value="Aumentos_fallo_Marquez_Raimundo_por_Ley_27551">Aumentos fallo Marquez, Raimundo por Ley 27551</option>
                        <option value="Aumentos_fallo_Alanis_Daniel_Ley_27551_35_55_2020">Aumentos fallo Alanis, Daniel Ley 27551 35,55% para el año 2020</option>
                        <option value="RIPTE_Remuneracion_Imponible_Promedio_Trabajadores_Estables">RIPTE (Remuneración Imponible Promedio de Trabajadores Estables)</option>
                        <option value="RIPTE_Trimestral_Retrasado_3_Meses">RIPTE trimestral retrasado 3 meses</option>
                        <option value="RIPTE_Retrasado_2_Meses">RIPTE retrasado 2 meses</option>
                        <option value="IPC_Retrasado_2_Meses">IPC retrasado 2 meses</option>
                        <option value="IPC_Retrasado_3_Meses">IPC retrasado 3 meses</option>
                        <option value="Ley_27551_50_IPC_50_RIPTE_Trimestral_Retrasado_3_Meses">Ley 27551 (50 % IPC y 50% RIPTE Trimestral retrasado 3 meses)</option>
                        <option value="Sin_Movilidad">Sin Movilidad</option>
                        <option value="Aumentos_Poder_Judicial_de_la_Nacion">Aumentos Poder Judicial de la Nacion</option>
                        <option value="IPC_Precios_Consumidor">Precios al Consumidor o Costo de Vida (I.P.C.)</option>
                        <option value="Salarios_Nivel_General_INDEC_Anual">Salarios Nivel General INDEC Anual</option>
                        <option value="Ley_27426_IPC_RIPTE_Trimestral_Diferido_3M">Ley 27426 - IPC y Ripte Trimestral Diferido 3 meses</option>
                        <option value="Aumentos_fallo_Martinez">Aumentos Fallo Martinez para el año 2020 </option>
                    </div>
                </div>
                <select name="movilidad_6" id="movilidad_6" hidden>
                    <option value="">Selecciona la movilidad</option>
                    <option value="Aumentos_Anses">Aumentos Generales de la ANSeS por movilidad</option>
                    <option value="Salarios_Nivel_General_INDEC">Salarios Nivel General INDEC</option>
                    <option value="Aumento_de_Marzo_2018_Ley_26417_14">Aumento de Marzo 2018 Ley 26417 14%</option>
                    <option value="Aumentos_fallo_Marquez_Raimundo_por_Ley_27551">Aumentos fallo Marquez, Raimundo por Ley 27551</option>
                    <option value="Aumentos_fallo_Alanis_Daniel_Ley_27551_35_55_2020">Aumentos fallo Alanis, Daniel Ley 27551 35,55% para el año 2020</option>
                    <option value="RIPTE_Remuneracion_Imponible_Promedio_Trabajadores_Estables">RIPTE (Remuneración Imponible Promedio de Trabajadores Estables)</option>
                    <option value="RIPTE_Trimestral_Retrasado_3_Meses">RIPTE trimestral retrasado 3 meses</option>
                    <option value="RIPTE_Retrasado_2_Meses">RIPTE retrasado 2 meses</option>
                    <option value="IPC_Retrasado_2_Meses">IPC retrasado 2 meses</option>
                    <option value="IPC_Retrasado_3_Meses">IPC retrasado 3 meses</option>
                    <option value="Ley_27551_50_IPC_50_RIPTE_Trimestral_Retrasado_3_Meses">Ley 27551 (50 % IPC y 50% RIPTE Trimestral retrasado 3 meses)</option>
                    <option value="Sin_Movilidad">Sin Movilidad</option>
                    <option value="Aumentos_Poder_Judicial_de_la_Nacion">Aumentos Poder Judicial de la Nacion</option>
                    <option value="IPC_Precios_Consumidor">Precios al Consumidor o Costo de Vida (I.P.C.)</option>
                    <option value="Salarios_Nivel_General_INDEC_Anual">Salarios Nivel General INDEC Anual</option>
                    <option value="Ley_27426_IPC_RIPTE_Trimestral_Diferido_3M">Ley 27426 - IPC y Ripte Trimestral Diferido 3 meses</option>
                    <option value="Aumentos_fallo_Martinez">Aumentos Fallo Martinez para el año 2020 </option>
                </select>
            </div>
        </div>
        <div class="form-group date-group">
            <label for="sexta_fecha_fin">al:</label>
            <input type="date" id="sexta_fecha_fin" name="sexta_fecha_fin">
        </div>
    </div>
</div>