<!DOCTYPE html>
<html>
  <head>
    <title>Calculadora de Haber</title>
  </head>
  <body>
    <h1>Calculadora de Haber</h1>
    <form>
      <label for="Nombre">Nombre: </label>
      <input id="Nombre"type="text" name="Nombre" placeholder="Nombre">
      <label for="Apellido">Apellido: </label>
      <input type="text" name="Apellido" placeholder="Apellido">
      <label for="Fecha_de_Primer_Percibido">Selecciona fecha del primer Percibido:</label>
      <input id= "Fecha_de_Primer_Percibido" type="date" name="Fecha_de_Primer_Percibido" placeholder="Fecha de Primer Percibido">
      <label for="Fecha_de_Ultimo_Percibido">Selecciona fecha del último Percibido: </label>
      <input type="date" name="Fecha_de_Ultimo_Percibido" placeholder="Fecha de Ultimo Percibido">
      <label for="Haber">Monto inicial: </label>
      <input type="number" name="Haber" placeholder="Haber">
    </form>
  </body>
</html>