<!DOCTYPE html>
<html>
<head>
    <title>PDF de Haber</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            width: 80%;
            margin: 0 auto;
        }
        h1 {
            text-align: center;
        }
        .data {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div>
        <img style="text-align: center;" id="logoestudio" src="static/logoestudio.jpg" height="200">
    </div>
    <div class="container">
        <h1>Resultado de la Calculadora de Haber</h1>
        <div class="data">
            <p><strong>Autos:</strong> {{ autos }}</p>
            <p><strong>Expediente:</strong> {{ expediente }}</p>
            <p><strong>Periodo Desde:</strong> {{ periodo_desde }}</p>
            <p><strong>Periodo Hasta:</strong> {{ periodo_hasta }}</p>
            <p><strong>Fecha de Cierre de Liquidacion:</strong> {{  fecha_de_cierre_de_liquidacion }}</p>
            <p><strong>Fecha de Regulacion:</strong> {{  fecha_de_regulacion }}</p>
            <p><strong>Fecha de Aprobacion de Sentencia:</strong> {{  fecha_aprobacion_sentencia }}</p>
            <p><strong>Monto Aprobado:</strong> {{  monto_aprobado }}</p>
            <p><strong>Monto Aprobado Actualizado con taza Pasiva:</strong> {{  monto_aprobado_actualizado }}</p>


        </div>
    </div>
</body>
</html>
